.container .row .container .row{
    margin-bottom: 15%;
}
.container{
    margin-top: 3%;
    margin-bottom: 3%;
}
.container .row .shadow{
    width: 100%;
    padding:22px;
}
.container .row p{
    color: black;
    margin-bottom: 5%;
    margin-left: 2%;
}
.container .row .shadow .btn{

   align-self: flex-end;
   align-self: baseline;
   width: fit-content;
   background-color: #424d83;
   border-radius: 30px;
}
.container .row .shadow .btn:hover{
    background-color: #5e71d3;
 }
 .container .row .shadow .button{
     text-align: right;
 }
 .container .row .shadow .drop{
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10%;
    margin-left: 2%;
}
 .heading{
    background-color: #424d83;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
 }
 .heading h5{
     color:white;
 }
 