.portfolio .shadow{
    margin-bottom: 15%;
}
.portfolio {
    margin-bottom: 3%;
}
.portfolio .shadow{
    width: 100%;
    padding:22px;
}
.portfolio .row p{
    color: black;
    margin-bottom: 5%;
    margin-left: 2%;
}
.portfolio .shadow .btn{

   align-self: flex-end;
   align-self: baseline;
   width: fit-content;
   background-color: #424d83;
   border-radius: 30px;
}
.portfolio .shadow .btn:hover{
    background-color: #5e71d3;
 }
 .portfolio .shadow .button{
     text-align: right;
 }
.portfolio .heading{
    background-color: #424d83;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
 }
 .portfolio .shadow .container{
     padding-top: 5%;
     margin-bottom: 6%;
 }
 .portfolio .heading h5{
     color:white;
 }
 .portfolio .shadow input{
     border-radius: 5px;
     margin-bottom: 6%;
 }
 