.card{
    margin-right: 10px;
}
.cardContent p{
    color: black;
    font-weight: bold;
}
.cardContent{
    text-align: center;
    margin-right: 50px;
    width: 300px;
    height: 280px;
}
.cardContent .img{
    border: 2px solid gray;
    border-radius: 40px;
}